body {
  background-color: rgba(0, 0, 0, 0.827);
  font-family: serif;
  margin: 0;
  padding: 0;
 }
 
.detalles-container {
  flex: 1;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
   /* Agregar para activar la barra de desplazamiento */
  /* max-height: 100vh; */
   /* Establecer una altura máxima */
  /* height: 100%; */
   /* Ajustar la altura al 100% del contenedor */
}

/* .detalles-container {
    flex: 1;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
 } */
 
.titulo {
  font-size: 60px;
  font-family: serif;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
 
.imagen {
  max-width: 18%;
  height: auto;
  margin: 0 auto;
}
 
.descripcion {
  flex: 1;
  font-family: serif;
  margin: 20px 0;
  font-size: 16px;
  text-align: justify;
  max-width: 100%;
  color: white; 
}
/* Media queries para hacerlo más responsive */
@media (min-width: 640px) {
  .descripcion {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .descripcion {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .descripcion {
    font-size: 22px;
  }
}
.subtitulo {
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
  margin: 10px 0;
}
 
.relacionados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
} 
.aleaciones-container {
  flex:1;
  background-color: #ffffffa6; 
  border: 1px solid #050505; 
  border-radius: 10px; 
  padding: 10px; 
  margin-bottom: 10px; 
  margin-right: 20px;
}
.dispositivos-container {
  background-color: #ffffffa6; 
  border: 1px solid #050505; 
  border-radius: 10px; 
  padding: 10px; 
  margin-left: 20px;
}
.aleacion, .dispositivo{
  font-family: serif;
  margin: 5px 0;
  flex: 1;
  background-color: #04040496; 
  border: 1px solid #050505; 
  border-radius: 10px; 
  display: flex;
  align-items: center;
  padding: 10px; 
  margin-bottom: 10px;
}

.imagen-relacionada-aleaciones, .imagen-relacionada-dispositivos {
  max-width: 80px;
  max-height: 10vh;
  margin-bottom: 10px;
  margin-left: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
  
  