body {
  background-color: rgba(0, 0, 0, 0.827);
  font-family: serif;
  margin: 0;
  padding: 0;
 }
 
.detalles-container {
  flex: 1;
  text-align: center;
  max-width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
   /* Agregar para activar la barra de desplazamiento */
  /* max-height: 100vh; */
   /* Establecer una altura máxima */
  /* height: 100%; */
   /* Ajustar la altura al 100% del contenedor */
}

/* .detalles-container {
    flex: 1;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
 } */
 
.titulo {
  font-size: 4rem;
  font-family: serif;
  font-weight: bold;
  color: white;
  margin: 0 auto;
}
 
.imagen {
  max-width: 10rem;
  height: auto;
  margin: 0 auto;
}
 
.descripcion {
  flex: 1;
  font-family: serif;
  margin: 0 auto;
  font-size: 0.9rem;
  text-align: justify;
  max-width: 100%;
  color: white; 
}
.titulo2 {
  font-size: 1.5rem;
  font-family: serif;
  font-weight: bold;
}
 
.relacionados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
} 
.aleaciones-container {
  flex:1;
  background-color: #ffffffa6; 
  border: 1px solid #050505; 
  border-radius: 10px; 
  padding: 10px; 
  margin-bottom: 10px; 
  margin-right: 20px;
}
.dispositivos-container {
  background-color: #ffffffa6; 
  border: 1px solid #050505; 
  border-radius: 10px; 
  padding: 10px; 
  margin-left: 20px;
}
.aleacion, .dispositivo{
  font-family: serif;
  margin: 5px 0;
  flex: 1;
  background-color: #04040496; 
  border: 1px solid #050505; 
  border-radius: 10px; 
  display: flex;
  align-items: center;
  padding: 10px; 
  margin-bottom: 10px;
}

.imagen-relacionada-aleaciones, .imagen-relacionada-dispositivos {
  max-width: 80px;
  max-height: 10vh;
  margin-bottom: 10px;
  margin-left: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

@media (min-width: 320px) {
  .titulo {
    font-size: 3rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .descripcion {
    font-size: 0.55rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .imagen {
    max-width: 45%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  }
  .titulo2 {
    font-size: 0.6rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .aleaciones-container, .dispositivos-container {
    height: 10.2rem; /* Ajusta la altura a 'auto' para que el contenido se ajuste */
  }
  .aleacion, .dispositivo {
    font-size: 0.8rem;
    height: 2rem; /* Ajusta la altura a 'auto' para que el contenido se ajuste */
  }
  .imagen-relacionada-aleaciones, .imagen-relacionada-dispositivos {
    max-width: 25px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  }
}

@media (min-width: 375px) {
  .titulo {
    font-size: 3rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .descripcion {
    font-size: 0.6rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .imagen {
    max-width: 45%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  }
  .titulo2 {
    font-size: 1rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .aleaciones-container, .dispositivos-container {
    height: 10.2rem; /* Ajusta la altura a 'auto' para que el contenido se ajuste */
  }
  .aleacion, .dispositivo {
    height: 2rem; /* Ajusta la altura a 'auto' para que el contenido se ajuste */
  }
  .imagen-relacionada-aleaciones, .imagen-relacionada-dispositivos {
    max-width: 25px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  }
}

@media (min-width: 425px) {
  .titulo {
    font-size: 3rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .descripcion {
    font-size: 0.6rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .imagen {
    max-width: 48%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  }
  .titulo2 {
    font-size: 0.9rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .aleaciones-container, .dispositivos-container {
    height: 10.2rem; /* Ajusta la altura a 'auto' para que el contenido se ajuste */
  }
  .aleacion, .dispositivo {
    height: 2rem; /* Ajusta la altura a 'auto' para que el contenido se ajuste */
  }
  .imagen-relacionada-aleaciones, .imagen-relacionada-dispositivos {
    max-width: 25px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  }
}
@media (min-width: 768px) {
  .titulo {
    font-size: 3rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .descripcion {
    font-size: 0.8rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .imagen {
    max-width: 20%; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  }
  .titulo2 {
    font-size: 1rem; /* Ajusta el tamaño de fuente según tus necesidades */
  }
  .aleaciones-container, .dispositivos-container {
    height: auto; /* Ajusta la altura a 'auto' para que el contenido se ajuste */
  }
  .aleacion, .dispositivo {
    height: auto; /* Ajusta la altura a 'auto' para que el contenido se ajuste */
  }
  .imagen-relacionada-aleaciones, .imagen-relacionada-dispositivos {
    max-width: 50px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
  }
}
@media (min-width: 1024px) {
  .titulo {
    font-size: auto; 
  }
  .imagen {
    height: auto; 
  }
  .descripcion {
    font-size: auto;
  }
  .titulo2{
    font-size: auto;
  }
  .aleaciones-container,.dispositivos-container{
    height: auto;
  }
  .aleacion,.dispositivo{
    height: auto;
  }
  .imagen-relacionada-aleaciones,.imagen-relacionada-dispositivos{
    height: auto;
  }
}
  
  