html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-image-Home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/ADN.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(4px); 
  height: 100%;
  z-index: -1; 
}

.background-image-Biomateriales {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Fondo_Biomateriales.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(6px); 
  height: 100%;
  z-index: -1; 
}

.background-image-Aleaciones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/fondo_Aleaciones.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px); 
  height: 100%;
  z-index: -1; 
}

.background-image-Dispositivos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/cuerpo.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px); 
  height: 100%;
  z-index: -1; 
}

.background-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(253, 255, 255, 0.652); /* Cambia el color y la opacidad según tus preferencias */
  z-index: -1;
}
.background-rectangle-biomat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background-color: rgba(253, 255, 255, 0.437); /* Cambia el color y la opacidad según tus preferencias */
  z-index: -1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


